// colors
$accent-clr: #4ba87d;
$accent-clr-light: #caeac7;
$text-clr: #000;
$body-bg: #fff;
// breakpoints
$xsm: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
// font family
$primary-font: "Raleway", sans-serif;
$secondary-font: "Playfair Display", serif;
$base-font-size: 18px;
$fw-medium: 500;
$fw-bold: 700;
$fw-extra-bold: 800;
$fw-black: 900;
