@use "../helpers/variables" as var;

.btn {
	border: none;
	display: inline-block;
	text-transform: capitalize;
	font: inherit;
	font-weight: var.$fw-extra-bold;
	color: #fff;
	letter-spacing: inherit;
	background: var.$accent-clr;
	padding: 8px 18px;
	cursor: pointer;
	width: max-content !important;
	word-break: keep-all !important;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.btn-white {
	background: #fff;
	color: var.$accent-clr;
}

.btn-border {
	border: 2px solid var.$accent-clr;
	background: #fff;
	color: var.$accent-clr;
	padding: 6px 16px;
}
